:root {
  --text-color: #ddd;
  --accent-color: rgb(0, 225, 255);
  --accent-hover: rgba(0, 225, 255, 0.5);
  --background:rgba(0, 0, 0, 0.8);
}
body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}
h1 {
  margin: 0;
  padding-left: 15px;
  letter-spacing: 3px;
  font-size: 1.3em;
}
i {
  color: var(--text-color);
}
i:hover {
  transform: scale(1.2);
}
li {
  list-style: none;
}
#logo {
  font-size: 1.6em;
  color: var(--accent-color);
}
.navbar__container {
  background: var(--background);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.menu {
  text-decoration: none;
  color: var(--text-color);
}
.navbar-logo {
  display: flex;
  align-items: center;
}
.navbar__menu {
  display: flex;
  align-items: center;
  padding: 0;
}
.navbar__menu li {
  margin: 0;
  padding: 8px 0;
}
.navbar__menu li:hover {
  background: var(--accent-hover);
  border-radius: 5px;
}
li .menu {
  padding: 20px;
}
.navbar__icons {
  display: flex;
  padding-left: 0;
}
.navbar__icons li {
  padding: 10px;
}
#hamburger {
  display: none;
  font-size: 1.7em;
}
#hamburger:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 768px){
  .navbar__container {
    flex-direction: column;
    padding-bottom: 15px;
  }
  .navbar__menu {
    flex-direction: column;
    padding-left: 0;
    display: none;
  }
  .navbar__menu li {
    width: 100%;
    text-align: center;
  }
  .navbar-logo {
    padding: 10px 0 0 0;
  }
  .navbar__icons {
    width: 100%;
    justify-content: center;
    padding-left: 0;
    display: none;
  }
  #hamburger {
    display: block;
    position: absolute;
    right: 20px;
    top: 13px;
    cursor: pointer;
  }
  .navbar__menu.display,
  .navbar__icons.display {
    display: flex;
  }
}